/* Formatações gerais */
*{
    font-family: Arial, Helvetica, sans-serif;    
    color: #fff;
}

/* Formatação do corpo da página // Inicio */
body, html{
    margin: 0;
    height: 100%;
    color: #fff;   
    background:  linear-gradient(30deg,#231942,#231942,#231942,#5e548e,#9f86c0,#be95c4,#e0b1cb,#5e548e,#5e548e); 
    overflow-x: hidden;    
}
.titulosDesktop{
    font-size: 36px;
}
.titulosMobile{
    font-size: 22px;

}


/* Formatação do cabeçalho // Inicio */

/* Foramatação da barra de navegação superior // Inicio */

#meuLogo{
    max-width: 200px;
}

nav.navbar-transparente{
    padding: 1rem;
    background-color: rgba(35, 25, 66,0.5);
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover{
    color:#e0b1cb;
}
/* Foramatação da barra de navegação superior // Fim */

/* Formatação do cabeçalho // Fim */
/* Formatação da Primeira Section // Parallax // Inicio */

#primeiraSecao{
    height: 100%;
    /*background-image: url(../imagens/plano_de_fundo/sincerely-media-aUPLLA6o_3I-unsplash.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
#botaoContato{  
    border:1px dotted;  
    border-radius: 5em;
    color: #fff;
    font-size: 20px;  
}
#botaoContato:hover{
    background-color: #5e548e;   
}
#botaoContato i{
    font-size: 28px;
}


/* Formatação da Primeira Section // Parallax // Fim */
/* Formatação da Segunda Section // Informações // Inicio */
#segundaSecao{
   /* background:  linear-gradient(30deg, #7c26f8,#7c26f8,#7c26f8, #ff4169, #ff4169); */
   background-color: rgba(000, 000, 000, 0.3);

}


/* Formatação dos icones */
#icones i {
    font-size: 30px;
    color: #fff;      
}



/* Formatação da Segunda Section // Informações // Fim */

/* Formatação da Terceira Section // Formação // Inicio */

#terceiraSecao{
    /*background:  linear-gradient(-60deg, #7c26f8,#7c26f8,#7c26f8, #ff4169, #ff4169); */
    background-color: rgba(000, 000, 000, 0.3);

}


/* Formatação dos cartões/icones de cursos */
.cartoesCursos{
    max-width: 160px;
}


/* Formatação da Terceira Section // Formação // Fim */

/* Formatação da Quarta Section // Projetos // Inicio */

.nomeProjeto{
    margin:1em 0;  
    font-size: 18px;  
    border: 1px dotted #231942;
    border-radius: 15px;

}

.nomeProjeto a {
    color: #fff;
    text-decoration: none;

}

.nomeProjeto:hover{
    background:  linear-gradient(30deg,#231942,#5e548e,#9f86c0,#be95c4,#e0b1cb,#5e548e); 
}


.imagensProjetos{
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(000,000,000,0.3);  
    /*max-width: 320px;*/
}
.imagensProjetos:hover{
    box-shadow: 5px 5px 10px rgba(000,000,000,0.3);  

}



/* Formatação da Quarta Section // Projetos // Fim */


/* Formatação do Footer // Inicio */
footer{
    background-color: rgba(35, 25, 66,0.5);
}

#iconesRodape i {
    font-size: 30px;
    color: #fff;      
}



/* Formatação do Footer // Fim */







            /* Media Queries*/

                /* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
                @media (max-width: 575.98px) { 
                    .nomeProjeto{
                        font-size: 18px;                        
                    } 

                    .nomeProjeto:hover{                        
                        background: none;
                    }
                    

                }

                /* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
                @media (min-width: 576px) and (max-width: 767.98px) {
                    .nomeProjeto:hover{
                        border: 1px solid red;
                        border-radius: 150px;
                    }


                }

                /* Dispositivos médios (tablets com 768px ou mais)*/
                @media (min-width: 768px) and (max-width: 991.98px) {

                }

                /* Dispositivos large (desktops com 992px ou mais)*/
                @media (min-width: 992px) and (max-width: 1199.98px) {

                }

                /* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
                @media (min-width: 1200px) {

                }








/* Formatação do corpo da página // Fim */
